.popup__full-text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    max-width: 291px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}