.hamburger__bar_active:nth-child(2) {
  opacity: 0;
}

.hamburger__bar_active:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger__bar_active:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}